$breakpoint-tablet: 768px;

.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  .title {
    margin: 10px 0;
  }

  @media (max-width: $breakpoint-tablet) {
    margin-top: 50px;
  }
}
